.DS_Store
.idea
.vscode
*.vcd
runs
src/sim_build
src/__pycache__/
src/results.xml
src/user_config.tcl

dual_xor_basic_arty35t_vivado/bd
dual_xor_basic_arty35t_vivado/hw
dual_xor_basic_arty35t_vivado/work
dual_xor_signature_arty35t_vivado/bd
dual_xor_signature_arty35t_vivado/hw
dual_xor_signature_arty35t_vivado/work
