# For the iCE40 UltraPlus (iCE40UP5K-QFN) Breakout Board

set_io rst 23               # sw[0]
set_io stream_select 25     # sw[1]

# bank 0
set_io uart_txd 4           # 8A
set_io encrypted 3          # 9B
set_io decrypted 48         # 4A


